.AdditionalDetails .panel-title > a:hover,
.AdditionalDetails .panel-title > a:active,
.AdditionalDetails .panel-title > a:focus {
  text-decoration: none;
}
.AdditionalDetails .panel-heading {
    background-color: #F9FAFF;
    border: 1px solid #F3F3F3;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AdditionalDetails .panel.panel-default {
    margin-bottom: 10px;
}
.AdditionalDetails .panel-title {
    margin-bottom: unset;
    width: calc(100% - 25px);
}
.AdditionalDetails .panel-title a {
    color: #525252;
}
.AdditionalDetails .panel-body {
    padding: 15px 20px;
    border: 1px solid #F3F3F3;
    border-radius: 0 0 4px 4px;
    border-top: 0;
}
.actionBtns {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 30%;
}
.addDetails {
    width: 24px;
    height: 24px;
    background-color: #E9F4FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionBtns a{
    margin: 0 5px;
}
.addedDetailContent span{
color: #989898;
font-size: 12px;
}
.addedDetailContent p{
    color: #525252;
    margin-bottom: 0;
}
.addedDetailImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-right: 20px;
}
.addedDetailImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.addedDetail {
    position: relative;
    border-bottom: 1px solid #eaf3fd;
}
.addedDetail:last-child{
    border-bottom: 0;
}
.disF {
    display: flex;
    align-items: center;
}
.workIcon{
    margin-right: 10px;
}
/* Additional Details Modal  CSS : STARTS */
.CreateProfileModal.modal-dialog {
    max-width: 800px;
}
.multistepModal.CreateProfileModal .modal-content {
    min-width: 800px;
    min-height: unset;
}
.multistepModal.CreateProfileModal .modal-header {
    border-bottom: 1px solid #E7E7E7;
}
.multistepModal.CreateProfileModal .modal-header h5 {
    font-size: 18px;
}
.multistepModal.CreateProfileModal .modal-body {
    padding: 1.5rem 2rem;
}
.CreateProfileModal input.form-control::placeholder{
    color: #7F92A3;
}
.CreateProfileModal .form-check {
    margin-top: 40px;
    padding-left: unset;
}
/* .CreateProfileModal .form-check .form-check-label{
    color: #7F92A3;
} */

.skill p{
    margin-bottom: 0;
}
.skill svg{
    margin-right: 10px;
}
.multistepModal.CreateProfileModal .modal-footer {
    background-color: #F9FAFF;
    justify-content: flex-end;
    border-top: 1px solid #E7E7E7;
    padding: 1rem 2rem;
}
.btn-group.NextFormButtons.ModalNextFormButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.NextFormButtons.ModalNextFormButtons .common-btn {
    font-size: 14px;
    font-family: 'robotoregular';
    height: 40px;
    margin: 0 0 0 10px;
}


/* Custom checkbox :STARTS */

/* The container */
.checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    /* color: #7F92A3; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkBoxContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #ffffff;
    border: 1px solid #EBEEF3;
  }

  .check-black-style .checkmark {
    border: 1px solid #000;
  }
  
  /* On mouse-over, add a grey background color */
  .checkBoxContainer:hover input ~ .checkmark {
    background-color: #E7E7E7;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkBoxContainer input:checked ~ .checkmark {
    background-color: #007BFF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkBoxContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  
  /* Show the checkmark when checked */
  .checkBoxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkBoxContainer .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .fileUpload path{
      fill:#ffffff !important;
  }
  .fileUpload{
      padding-left: 10px;
  }
  /* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */
  @media only screen and (min-width : 320px)
and (max-width : 628px){

    /*=============== Additional Details CSS : STARTS ================ */
    section .container-fluid {
        padding: 0;
    }
    .MobDisNone{
        display: none;
    }
    .profileHeadSec {
        padding: 20px 35px 0;
        border-bottom: none;
    }
    .profileHeadSec h6{
        font-size: 20px;
        font-family: 'robotomedium';
    }
    .CreateProfileForm {
        margin: 10px 0;
        border: none;
        background-color: unset;
        box-shadow: unset;
    }
    /* .FormSec {
        padding: 20px;
    } */
    .btn-group.NextFormButtons {
        justify-content: center;
        padding: 0 35px;
    }
    .btn-group.NextFormButtons.ModalNextFormButtons {
        /* justify-content: center; */
        padding: 0;
    }
     
    .CreateProfileModal.modal-dialog {
        max-width: 85%;
        margin: 1.7rem;
    }
    .multistepModal.CreateProfileModal .modal-content {
        min-width: 85%;
    }
    .flexWrapUnset{
        flex-wrap: unset;
    }
    .btn-group.NextFormButtons.ModalNextFormButtons {
        width: 100%;
    }
    .NextFormButtons.ModalNextFormButtons .common-btn {
        margin: 0;
    }
    .NextFormButtons .common-btn.commonOutlineBtn.MobDisNone {
     display: none;
    }
   
    .addedDetailImg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .AdditionalDetails .panel-body {
        padding: 15px;
    }
    .actionBtnsMobile{
        position: absolute;
        right: 0;
        top: 15%;
    }
    .actionBtnsMobile .dropdown-toggle::after{
        content: unset;
    }
    .actionBtnsMobile .dropdown-menu {
        min-width: 5rem;
        border: none;
        box-shadow: 0px 3px 6px #00000012;
    }
    .actionBtnsMobile .dropdown-item {
        padding: .15rem .8rem;
        font-size: 12px;
        color: #707070;
    }

    .checkBoxContainer {
        padding-left: 15px;
    }
    .checkBoxContainer .checkmark {
        height: 15px;
        width: 15px;
    }
    .checkBoxContainer .checkmark:after {
        left: 5px;
        top: 0px;
        width: 5px;
        height: 10px;
    }
 
     /*=============== Additional Details CSS : ENDS ================ */
}
/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */