.SearchFilterHead {
    display: flex;
    justify-content: space-between;
}
.SearchFilterHead h6{
    font-size: 15px;
    color: #000000;
    font-family: 'intermedium';
}
.SearchFilterHead a {
    text-decoration: underline;
}
.searchFilter {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 3px 9px #00000012;
    margin-bottom: 15px;
}
.CatagoryFilter {
    border-bottom: 1px solid #EBEEF3;
    padding: 20px;
}
.SkillsFilter{
    padding: 20px;
}
.topLine{
    justify-content: space-between;
    margin-bottom: 10px;
}
.topLine svg{
    margin-right: 6px;
}
.FilterList span{
    font-size: 12px;
    color: #929292;
}
.SearchFilterButton {
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 15px;
    color: #FA852B;
    font-family: 'robotomedium';
    font-size: 16px;
    box-shadow: 0px 3px 9px #00000012;
    cursor: pointer;
}
.FilteredOptions {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
     box-shadow: 0px 3px 9px #00000012;
}
.FilteredOptions h6{
    font-family: 'intermedium';
}
.FilteredOptions h6 span{
    font-size: 14px;
    margin-left: 20px;
}



.searchDetails li {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.searchDetails li svg{
    margin-right: 7px;
}
.marB25{
    margin-bottom: 25px;
}
.FilteredOptions .skills span{
    background-color: #FFE7D4;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 3px;
}
.SearchedList {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}


.autocomplete-list {
    padding-left: 0;
    background-color: #ffffff;
    box-shadow: 0 3px 9px #00000012;
    width: 100%;
    /* border: 1px solid #DDDDDD; */
}
.autocomplete-list .autocomplete-list-options{
    font-size: 14px;
    padding: 5px 10px; 
}
.autocomplete-list .autocomplete-list-options:hover {
    background-color: #007BFF;
    color: #ffffff;
}

.landingpageInput{
    position: relative;
    }
.landingpageInput .autocomplete-list{
        position: absolute;
        top:   39px;
        z-index: 99;
    }
    
.searchDetails li {
        display: flex;
        align-items: center;
        /* margin-right: 25px; */
        margin: 10px 25px 0 0;
    }
.searchDetails li svg{
        margin-right: 7px;
    }
ul.searchDetails {
        flex-wrap: wrap;
        justify-content: space-between;
    }

     
        