.loader {
    position: absolute;
    /* top: calc(50% - 4em); */
    /* left: calc(50% - 4em); */
    left: 48%;
    top: 19%;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.486);
    border-left: 3px solid #fff;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}
  
  .loader--hide {
    opacity: 0;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  