section.mainbgColor.view-profile-section {
    padding: 40px 0;
}
.EmploynmentConditionHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.EmploynmentConditionHead h4{
    font-size: 18px;
    color: #1C1C1C;
    font-family: 'robotoregular';
}
.EmploynmentCondition {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 9px #00000012;
}
.editEmploynmentCondition {
    padding: 5px 10px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    line-height: 1;
    cursor: pointer;
}
.editEmploynmentCondition svg{
    border-bottom: 1px solid #017bff;
}
.employenmentsec h6{
    margin-bottom: 3px;
    font-size: 14px;
    color: #1C1C1C;
}
.Conditions svg{
    margin-right: 20px;
    margin-top: -12px;
}
.employenmentsec p{
    color: #AFAFAF;
}
.Conditions {
    margin-top: 15px;
}
.expand {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.expand a{
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    padding: .4rem .25rem .4rem .75rem;
    color: #1C1C1C;
    text-decoration: none;
}

  
  /* .EmploynmentCondition a.collapsed:after {
    content: 'Show More' url(../../imgaes/icons/expand_more_black_24dp.svg);
  }
  
  .EmploynmentCondition a:not(.collapsed):after {
    content: 'Show Less' url(../../imgaes/icons/expand_less_black_24dp.svg);
  } */

  .trigger-more:not(.collapsed):after {
    position: relative;
    top: 8px;
    content: url(../../imgaes/icons/expand_less_black_24dp.svg);
  }
  .trigger-more.collapsed:after {
    position: relative;
    top: 8px;
    content: url(../../imgaes/icons/expand_more_black_24dp.svg);
  }
  
 .EmploynmentCondition #ConditionShow.collapse:not(.show) {
    display: block;
    /* height = lineheight * no of lines to display */
    height: 320px;
    overflow: hidden;
  }
  
  .EmploynmentCondition #ConditionShow.collapsing {
    height: 320px;
  }


  /* Profile Details Section CSS : STARTS */
  /* .ProfileBasicDetail {
    background-color: #ffffff;
    box-shadow: 0px 3px 9px #00000012;
    margin-bottom: 20px;
    border-radius: 4px;
} */
  .coverPhoto {
    position: relative;
    width: 100%;
    height: 166px;
    background: url(../../imgaes/MicrosoftTeams-image.png) no-repeat;
    background-size: 100% 100%;
}
.uploadCoverPhoto {
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.uploadCoverPhoto input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.ViewProfileDetail {
    padding: 20px 30px;
    position: relative;
    box-shadow: 0px 3px 9px #00000012;
    margin: 0 0 20px;
    background-color: #ffffff;
    border-radius: 4px;
}
.profileActionButtons {
    display: flex;
    justify-content: flex-end;
}
.ViewProfileDetail h2 {
    font-size: 18px;
    color: #1C1C1C;
    margin-bottom: 20px;
}

.Summary p{
    color: #848484;
}
.FontBold{
    font-family: 'robotomedium';
    margin: 30px 0 20px;
}
ul.ProfileBasicInfo {
    /* margin-bottom: 10px;
    margin-left: -30px; */
    margin: 0;
}
/* li{
    margin-right: 10px;
} */
.ProfileBasicInfo li{
display: inline-block;
margin-left: -30px;
margin-right: 35px;
}
.ViewProfileDetail .ProfileBasic .ProfileBasicInfo span{
    display: flex;
    align-items: center;
}
.ViewProfileDetail .ProfileBasic .ProfileBasicInfo span svg{
    margin-right: 8px;
}

.ViewProfileDetail span  {
    border-radius: 30px;
    font-size: 12px;
    color: #525252;
    display: inline-block;
    padding: 7px 15px;
    margin: 5px 0;
    background-color: #F7F7F7;
}
.status {
    /* height: 24px; */
    padding: 5px 12px;
    font-size: 11px;
    border-radius: 4px;
    margin: 0 8px;
}
.status.online{
    background-color: #4ADB87;
    color: #ffffff;
}
.status.casual{
    background-color:#FA852B;
    color: #ffffff;
}
.status.explore{
    background-color:#007BFF;
    color: #ffffff;
}
.profileActionButtons .onlinedot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 5px 0 0;
    padding: 0;
}

.EditViewedProfile {
    height: auto;
    font-size: 11px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6!important
}
.ProfilePicMain {
    position: absolute;
    top: -35%;
    width: 125px;
    height: 125px;
    background-color: #eaebeb;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0px 3px 9px #0000002b;
}
.profileImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.VieweditableDetails span{
    background-color: unset;
    color: #848484;
    padding: 0;
}
.workIconImg{
    padding: 10px;
}
.workIconImg img{
    width: 90%;
}
.ViewHistory{
    text-align: left;
    padding: 0;
    margin: 0 30px;
}
.ViewHistory a{
    font-size: 11px;
}
.ViewProfileDetailHead.disF {
    align-items: flex-start;
}
.skills span{
    color: #007BFF;
    margin-right: 10px;
}
.addedDetail.paddX15{
    padding-right: 60px;
}
.fileUpload path{
    fill:#ffffff !important;
}
.fileUpload{
    padding-left: 10px;
}

/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */
@media only screen and (min-width : 320px)
and (max-width : 628px){

    /*=============== View Profile  CSS : STARTS ================ */
    section.mainbgColor.view-profile-section {
        padding: 0;
    }
    .ViewProfileDetail {
        margin: 0 16px 16px;
        padding: 20px;
    }
    .addedDetail.paddX15 {
        padding-right: 30px;
    }
    .ViewProfileDetail h2 {
        font-size: 17px;
    }
    .ViewProfileDetail span {
        padding: 5px 0px;
    }
    .ViewProfileDetail.marT-30 {
        margin-top: -30px;
        text-align: center;
        padding-top: 80px;
    }
    .ProfilePicMain {
        top: -20%;
        left: 30%;
    }
    .profileActionButtons {
        justify-content: center;
    }
    .uploadCoverPhoto {
        right: 20px;
        top: 20px;
    }
    .editEmploynmentCondition {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        line-height: 1;
        cursor: pointer;
        margin-left: -90px;
    }
    .skills span {
        display: inline-block;
        color: #007BFF;
        margin-right: 10px;
        margin-bottom: 8px !important;
    }
    .status {
        margin: 12px 8px -12px;
    }
    /*=============== View Profile CSS : ENDS ================ */
}

 

/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */