.ViewProfileDetail .CandidateProfileHead{
    margin-bottom: 0;
}
.vendorHead{
    justify-content: space-between;
}
.vendorHead .rightIcons svg{
    margin: 0 5px;
}
.vendorHead .rightIcons a{
    text-decoration: none;
}
.Candidate-profile-pic {
    width: 52px;
    height: 52px;
    float: left;
    border-radius: 50%;
    background-color: #eeeeee;
    overflow: hidden;
    margin-right: 15px;
}
.Candidate-profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Candidate-profile-details h3{
    font-size: 14px;
    color: #1C1C1C;
    margin-bottom: 0;
    font-family: 'interregular';
}
.Candidate-profile-details {
    float: right;
    width: calc(100% - 70px);
}
.Candidate-profile-card{
    width: 100%;
    float: left;
    margin: 0 0 15px;
}
.Candidate-profile-details .searchDetails {
    justify-content: unset;
    padding-right: 0;
}
.Candidate-profile-details .searchDetails li{
    margin: 10px 20px 0 0;
}
.paddL8{
    padding-left: 8px; 
}
.paddR8{
    padding-right: 8px;
}
.scroll-items {
    max-height: 460px;
    overflow: auto;
    /* overflow-x: scroll; */
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width : 320px)
and (max-width : 576px){
    .mob-see-more:not(.collapsed):after {
        position: relative;
        top: 5px;
        content: url(../../imgaes/icons/expand_more_black_24dp.svg);
      }
      .mob-see-more.collapsed:after {
        position: relative;
        top: 5px;
        content: url(../../imgaes/icons/expand_less_black_24dp.svg);
      }
      .Candidate-profile-card {
        width: -webkit-fill-available;
        margin: 0 16px 16px;
    }
}