
.jobHead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.disNone{
    display: none;
}
p.updateStatus {
    color: #929292;
}
.CreateProfileModal.SearchPopup.modal-dialog {
    max-width: unset;
    margin: 0;
    min-height: 100%;
    align-items: flex-end;
}
.multistepModal.SearchPopup .modal-content {
    border: none;
}

.FilterdisF{
    display: flex;
    justify-content: space-between;
}

.jobDetails {
    width: 100%;
}
.filter-count-text {
    position: relative;
    top: -36px;
    margin-bottom: -15px;
    pointer-events: none;
}


@media only screen and (min-width : 320px)
and (max-width : 576px){
    .mobPadd30{
        padding: 30px 0;
    }
    .topLine {
        align-items: flex-start;
        padding: 5px 20px;
    }
    .filter-count-text {
        left: 25px;
        top: -12px;
        margin-bottom: -10px;
    }
    .FilterList span.disF {
        align-items: flex-start;
    }
    .FilterList span {
        font-size: 11px;
    }
    .SearchedList {
    max-height: calc(100vh - 230px);
    padding: 10px 20px;
    }
    .FilteredOptions h6 span {
        font-size: 12px;
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
    }

    .searchFilter {
        box-shadow:unset;
        margin-bottom: 0;
    }
    .multistepModal.SearchPopup .modal-body {
        padding: 0;
    }
    .multistepModal.SearchPopup .modal-footer {
        padding: 20px;
    }
    .multistepModal.SearchPopup button.common-btn {
        height: 43px;
        border-radius: 4px;
        font-size: 14px;
        margin-right: 0;
        font-family: 'robotoregular';
    }
    /* Hide scrollbar CSS*/
.SearchedList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.SearchedList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}