.CandidateContactBtn{
    text-decoration: underline;
    font-size: 12px;
}
.multistepModal.LogInPopup.modal-dialog {
    align-items: flex-end;
    margin: 0;
    min-height: 100%;
}
.multistepModal.LogInPopup .modal-content {
    min-height: unset;
    border: none;
}




.FilteredOptions .row{
    align-items: center;
}
 /* .SavedJobMain {
    display: flex;
} */
.SavedJobIcon {
    margin: 0 30px;
}
.AppliedDiv {
    justify-content: flex-end;
}
p.SavedJob {
    color: #929292;
    margin-bottom: 0;
}

.card.jobView h6 {
    font-size: 14px;
    color: #5F6D89;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card.jobView h6 svg{
    margin-right: 5px;
}
.Description p{
    color: #848484;
    margin-bottom: 15px;
}
.jobView .basicDetails label{
    color: #AFAFAF;
    margin-bottom: 0;
}
.basicDetails p {
margin-bottom: 20px;
}
.appliedBtn{
    opacity: 0.5;
    height: 45px;
    color: #fff !important;
    background-color: #2dd36f !important ;
    border: 1px solid #2dd36f !important;
  
}
/* .ApplyJobBtn.applied span{
display: none;
} */
.ApplyJobBtn span{
    color: #ffffff;
    font-size: 14px;
}
ul.searchDetails{
padding-left: 0;
}
/* .ApplyJobBtn.active span{
    display: none;

}
.ApplyJobBtn.active::before{
    content: "Applied";
    opacity: 0.6;
} */

.jobHead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (min-width : 320px)

and (max-width : 628px){

.basicDetails .col-md-6{
    width: 50%;
}
.disFMob .jobHead {
    display: unset;
}
.AppliedDiv {
    justify-content: space-between;
}
.disFMob{
    display: flex;
    justify-content: space-between;
}
.SavedJobIcon {
    margin: 0;
}
}