.section-top {
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url(../../imgaes/home-bg.svg);
    background-repeat: no-repeat;
  
    background-size: cover;
}
.section-top .container-fluid, .section-top .container-fluid .row{
    height: 100%;
}
.disTable {
    display: table;
}
.top-section-left {
    display: table-cell;
    vertical-align: middle;
}
.top-section-right{
    display: table-cell;
    vertical-align: middle;
}
.top-section-left h1{
    color:#000000;
    font-size: 51px;
    font-family: 'intermedium';
}
.top-section-left h1 span{
    color: #007BFF;
}
.top-section-left p {
    font-family: 'interregular';
    color: #00000099;
    font-size: 20px;
    margin: 30px 0;
}

button.common-btn {
    display: inline-block;
    width: 140px;
    height: 36px;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'intermedium';
    cursor: pointer;
}
.btn-primary.orange-btn{
  background-color: #FA852B;
  border-color: #FA852B;
  border-radius: 4px;
  width: 120px;
  height: 45px;
}
.orange-btn-style {
    background-color: #FA852B;
    border: 1px solid #FA852B;
    color: #ffffff;
}
.top-section-right .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #FA852B;
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.top-section-right .nav li a{
    padding: 10px 25px;
    border-radius: 4px 4px 0px 0px;
    color: #5F6D89;
    background-color: #e7e7e7;
    text-decoration: none;
    /* box-shadow: inset 0 -5px 10px -10px #918c8c; */
}
.top-section-right .nav li.active a{
    background-color: #ffffff;
    color: #5F6D89;
}
.top-section-right .orange-btn{
    width: 100%;
}
.top-section-right .orange-btn:hover{
    opacity: 0.9;
    background-color: #FA852B;
    border: 1px solid #FA852B;
}
.top-section-right .tab-content>.tab-pane {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 3px 9px #00000012;
}
.top-section-right .searchFilter {
    box-shadow: unset;
}

form select option:first-child {
    color: gray;
  }

.row .marT60{
    margin-top: 0;
}

.disTable .CatagoryFilter {
    border-bottom: unset;
    padding: 0;
}
.disTable .SkillsFilter {
    padding: 0;
}
.landingpageInput{
position: relative;
}
.landingpageInput svg{
    position: absolute;
    top: 10px;
    right: 8px;
}
.landingpageInput input, .landingpageInput select{
    padding-right: 30px;
}

.autocomplete-list {
    padding-left: 0;
    background-color: #ffffff;
    box-shadow: 0 3px 9px #00000012;
}
.autocomplete-list .autocomplete-list-options{
    font-size: 14px;
    padding: 5px 10px; 
}
.autocomplete-list .autocomplete-list-options:hover {
    background-color: #007BFF;
    color: #ffffff;
}

.form-row {
    display: flex;
}
.landingpageInput select:first-child{
    color: #5F6D89;
}
.navbar-light .navbar-nav li .nav-link.active, .navbar-light .navbar-nav li .nav-link:hover {
    color: #007BFF !important;
}
/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */

@media only screen and (min-width : 320px)
and (max-width : 576px){
    .row .marT60{
        margin-top: 60px;
    }
    button.common-btn {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
    .section-top {
        padding: 30px;
        text-align: center;
    }
    .top-section-left h1 {
        font-size: 35px;
    }
    .top-section-left p {
        font-size: 18px;
    }
    .top-section-right .form-row {
        justify-content: center;
        background-color: transparent;
        box-shadow: unset;
    }

}