

/* ================== Modal CSS : STARTS ===========================*/

/* .error {
    font-size: 13px !important;
    color: #3d3536 !important;
    text-align: left !important;
    font-family: 'interregular' !important;
} */

.otp-page .error.otp_timer{
    text-align: center !important;
}

.multistepModal.modal-dialog {
    max-width: 640px;
}
.multistepModal .modal-header {
    text-align: center;
    display: inline-block;
    border-bottom: none;
    padding: 1rem 3rem;
}

.multistepModal .modal-header h5{
    font-family: 'intermedium';
    font-size: 24px;
    color: #000000;
    margin: 10px 0;
    position: relative;
}
.multistepModal .modal-header h5 svg{
    position: absolute;
    left: 0px;
    top: 6px;
}
.multistepModal .modal-header p{
    color: #3A4550;
    font-family: 'interregular';
    font-size: 16px;
    margin-bottom: 0;
}

.multistepModal .modal-body {
    padding: 1rem 3rem;
}
.Category {
    /* display: flex;
    border: 1px solid #EAF3FD;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer; */
    display: inline-block;
    border: 1px solid #EAF3FD;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    /* margin: 10px 0; */
    cursor: pointer;
}
a.Category:hover {
    text-decoration: none;
    background-color: #e8f3ff45;
}
.CategoryIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff17;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    float: left;
}
.categoryName {
    width: calc(100% - 60px);
    float: right;
}
.categoryName h6{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'intermedium';
    color: #000;
}
.categoryName p {
    font-size: 12px;
    color: #3A4550;
    margin-bottom: 0;
    font-family: 'interregular';
}
.multistepModal .modal-footer {
    background-color: #E8FCFF;
    justify-content: center;
    border-top: none;
    min-height: 82px;
}
.multistepModal .modal-footer p{
    margin-bottom: 0;
}
.multistepModal .modal-footer a{
   color:#007BFF;
   font-family: 'intermedium';
   text-decoration: underline;
}

/* ================== Modal CSS : ENDS ===========================*/


.candidate-signup p{
    text-align: center;
    color: #007BFF;
    font-family: 'intermedium';
}
.candidate-signup .form-control {
    font-size: 14px;
    min-height: 45px;
    border: 1px solid #E8E8E8;
}
.candidate-signup .btn-group {
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}
button.Social-login-btn {
    width: 49%;
    height: 45px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
button.Social-login-btn.LinkedIn-button {
    background-color: #3A7AF2;
    border: 1px solid #3A7AF2;
    color: #ffffff;
}
button.Social-login-btn.Google-button {
    background-color: #DB4A39;
    border: 1px solid #DB4A39;
    color: #ffffff;
}
.Social-login-btn.common-lightblue-button.continue-create-profile{
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 14px;
}
.modal-content {
    min-width: 640px;
    min-height: 480px;
}
.Social-login-btn svg{
    margin-right: 15px;
}
.Social-login-btn.common-lightblue-button{
    background-color: #3A7AF2;
    border: 1px solid #3A7AF2;
    color: #ffffff;
}
.Social-login-btn.common-lightblue-button.wid100{
    width: 100%;
}

/* ==================  Welcome Modal CSS : STARTS ===========================*/
.welcome-to-marketpalce {
    margin-top: 30px;
}
.InputParent {
    position: relative;
}
.InputParent .form-control{
    padding-left: 60px;
}
.InputParent svg{
    position: absolute;
    top: 9px;
    left: 20px;
}
.welcome-to-marketpalce .form-group {
    margin-bottom: 1.8rem;
}
.welcomeSignIn{
    width: 142px;
}
.multistepModal .welcome-to-marketpalce-footer {
    background-color: unset;
    justify-content: space-between;
    border-top: none;
    padding: 1rem 2rem 3rem;
}
.multistepModal .welcome-to-marketpalce-footer p {
    font-size: 12px;
}
.multistepModal .welcome-to-marketpalce-footer p a{
    font-size: 12px;
    text-decoration: none;
}
.common-lightblue-button.welcomeSignIn{
height: 40px;
font-size: 12px;
}
/* ==================  Welcome Modal CSS : ENDS ===========================*/

/* ================= Enter OTP Modal CSS : STARTS ======================= */
.multistepModal .enterOTPModal .modal-header p{
    color: #000000;
   font-family: 'intermedium';
}
.multistepModal .enterOTPModal .error {
   margin: 0;
}
/* ================= Enter OTP Modal CSS : ENDS ======================= */

/* ================= success popup CSS : STARTS ======================= */
.verifyOTPModalInner {

    text-align: center;

    padding-top: 80px;

}

.verifyOTPModalInner h4{

    color: #32C26F;

    margin: 15px 0;

    font-size: 24px;

    font-family: 'intermedium';

}

.verifyOTPModalInner a{

    display: inline-block;

    text-decoration: underline;

}

.verifyOTPModalInner .Social-login-btn.common-lightblue-button{

    /* margin: 30px 0; */

    display: inline-block;

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 46%;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 4px solid #3A7AF2;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3A7AF2 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.resend-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

/* ================= success popup CSS : ENDS ======================= */

/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */

@media only screen and (min-width : 320px)
and (max-width : 576px){

.multistepModal .modal-content {
    min-width: 100%;
    min-height: unset;
    border: none;
    border-radius: 4px 4px 0 0;
}
.multistepModal.modal-dialog {
    max-width: 100%;
    margin: 0;
}
.multistepModal .modal-header {
    padding: 1rem 2rem;
}
.multistepModal .modal-body {
    padding: 1rem 2rem;
}
.multistepModal .modal-header p {
    font-size: 14px;
}
/* .multistepModal .modal-dialog-centered {
    align-items: flex-end;
} */
.wid100{
    width: 100%;
}
.modal-end-style.modal-dialog-centered {
    align-items: flex-end;
    min-height: 100%;
}
button.Social-login-btn {
    width: 100%;
    margin-bottom: 10px;
}
.candidate-signup .btn-group {
    flex-wrap: wrap;
}
.multistepModal .modal-header h5 svg{
display: none;
}
.lds-ring div {
    left: 45%;
}
.Social-login-btn.common-lightblue-button.continue-create-profile {
    margin-top: 20px;
 }
 .RadioBtn .form-check-inline {
    margin-right: 15px;
}

}
/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */
