/* ================== Create Profile CSS : STARTS ===========================
ul.ProfileStepTabsList {
    padding: 30px;
}
.ProfileStepTabsList li {
    margin: 15px 0;
}
.ProfileStepTab h6{
    margin-bottom: 4px;
    color: #525252;
    font-size: 16px;
    font-family: 'robotoregular';
}
.ProfileStepTab span{
    color: #525252;
    font-size: 12px;
}
div.ProfileStepTab {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}
div.ProfileStepTab.active, div.ProfileStepTab:hover{
    background-color: #EAF3FD;
}
div.ProfileStepTab.filled{
    background-color: #E9FFF2;
    border: 1px solid #32C26F;
    position: relative;
}
div.ProfileStepTab.filled::after{
content: url(../../imgaes/icons/check_circle_black_24dp.svg);
position: absolute;
right: 10px;
top: 7px;
} */

ul.ProfileStepTabsList {
    padding: 30px;
}
.ProfileStepTabsList li {
    margin: 15px 0;
}
.ProfileStepTab h6{
    margin-bottom: 4px;
    color: #525252;
    font-size: 16px;
    font-family: 'robotoregular';
}
.ProfileStepTab span{
    color: #525252;
    font-size: 13px;
}
div.ProfileStepTab {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}
div.ProfileStepTab.active, a.ProfileStepTab:hover{
    background-color: #EAF3FD;
}
div.ProfileStepTab.filled{
    background-color: #E9FFF2;
    border: 1px solid #32C26F;
    position: relative;
}
div.ProfileStepTab.filled::after{
content: url(../../imgaes/icons/check_circle_black_24dp.svg);
position: absolute;
right: 10px;
top: 7px;
}

/* ================= Basic Details FORM CSS : STARTS ================ */
.CreateProfileForm {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 40px 0;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 3px 9px #00000012;
    position: relative;
}
.CreateProfileForm .form-group {
    margin-bottom: 25px;
}
.CreateProfileForm label{
color: #5F6D89;
font-family: 'robotoregular';
}
.CreateProfileForm .form-control{
    height: 40px;
    border: 1px solid #EBEEF3;
    font-size: 14px;
    font-family: 'robotoregular';
}
.CreateProfileForm input.form-control::placeholder{
    color: #7F92A3;
}
.CreateProfileForm .form-control:focus {
    background-color: #fff;
    border-color: #007BFF;
    outline: 0;
    box-shadow: unset;
}
.profileHeadSec{
    padding: 20px 35px;
    border-bottom: 1px solid #E7E7E7;
}
.profileHeadSec h4{
    font-size: 22px;
    font-family: 'robotomedium';
    margin: 0;
}
.FormSec {
    padding: 20px 35px;
}
.RadioBtn .form-check-inline .form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.RadioBtn .form-check-inline {
    margin-right: 30px;
    display: inline-flex;
}
.profilePic {
    border: 2px dashed #007BFF;
    background-color: #EAF3FD;
    border-radius: 8px;
    /* max-width: 214px;
    height: 184px; */
    margin: 0 auto;
}
.profilePic span{
    color: #525252;
    font-size: 12px;
}
.uploadProfilePic {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 22px;
    cursor: pointer;
}
.uploadProfilePic .choose-pic {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.btn-group.NextFormButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 40px;
}
.NextFormButtons .common-btn {
    width: unset;
    border-radius: 4px;
    height: 50px;
    padding: 0 30px;
    margin: unset;
}
.NextFormButtons .common-btn.commonOutlineBtn{
    background-color: #ffffff;
}

.profilePicImage {
    width: 48px;
    height: 48px;
    object-fit: contain;
}
/* ================= Basic Details FORM CSS : ENDS ================ */
.addedDetail.paddX15 {
    padding-right: 60px;
}
.paddX15 {
    padding: 15px 0;
}
.addedDetailContent {
    width: calc(100% - 70px);
}


/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */

@media only screen and (min-width : 320px)
and (max-width : 628px){

    .mainbgColor {
        background-color: #ffffff;
    }
    /*=============== Basic Details CSS : STARTS ================ */

    .flexColRev{
        flex-direction: column-reverse;
    }
    .profilePic {
        margin: 20px auto;
    }
    /*=============== Basic Details CSS : ENDS ================ */

    .addedDetailContent {
        width: calc(100% - 40px);
    }
    .flex-mobile-top {
        display: flex;
        align-items: start !important;
    }
    .audio-tag-style audio {
        position: relative;
        top: 72px;
        margin-bottom: 40px;
        left: -90px;
        width: 234px;
    }
    .audio-tag-style .removeDetail {
        position: relative;
        top: -13px !important;
        left: 146px;
    }
    .RadioBtn .form-check-inline {
        margin-right: 15px;
    }
}

 

/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */
.CreateProfileModal .RadioBtn .form-check {
    margin-top: 0px;
    padding-left: 1.5em;
}

/* Progressbar Css : STARTS */
.CreateProfileForm .progressBar{
    position: absolute;
    right: 30px;
    top: 20px;
}
.CreateProfileForm .progressBar li{
display: inline-block;
width: 8px;
height: 8px;
background-color: #EAF3FD;
border-radius: 10px;
margin: 0 2px;
position: relative;
}
.CreateProfileForm .progressBar li::before{
    content: "";
    position: absolute;
    left: -8px;
    top: 3px;
    width: 100%;
    height: 2px;
    background-color:#EAF3FD ;
}
.CreateProfileForm .progressBar li:first-child::before{
    content: unset;
}
#progressbar li.filledform{
    background-color: #007BFF;
    z-index: 9;
}
.CreateProfileForm .progressBar li.filledform::before{
    background-color: #007BFF;
}

/* Progressbar Css : STARTS */

.btn-record{
    user-select: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.144);
    box-sizing: border-box;
    transition: all .2s;
    position: relative;
    font-size: 0;
    margin-left: 10px;
    display: inline-block;
}
.btn-record .icn-record{
    user-select: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 0;
    display: block;
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #3A7AF2;
    box-sizing: border-box;
    /* transition: background-color .2s,opacity .2s,transform .2s; */
    transform-origin: center center;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: .2s ease-in;
}

.btn-record:hover .icn-record {
    height: 48px;
    width: 48px;
}

.btn-record:hover .icn-record svg{
    height: 20px;
    width: 25px;
}


.icn-record svg{
    user-select: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 0;
    width: 14px;
    height: 19px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .2s;
    opacity: 1;
}

.flex-1 {
    display: flex;
    align-items: center;
    /* flex: 1;
    justify-content: center; */
}

.btn-record.active .icn-record svg{
    opacity: 0;
}

.btn-record.active .icn-record .icn-record-inner{
    user-select: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transition: all .2s;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.445);
    width: 10px;
    height: 10px;
}

.btn-record.active .icn-record{
    width: 35px;
    height: 35px;
    background-color: #f03;
}