*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'latomedium';
  src: url('./fonts/lato-medium.woff2') format('woff2'),
       url('./fonts/lato-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoregular';
  src: url('./fonts/lato-regular.woff2') format('woff2'),
       url('./fonts/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'intermedium';
  src: url('./fonts/inter-medium.woff2') format('woff2'),
       url('./fonts/inter-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'interregular';
  src: url('./fonts/inter-regular.woff2') format('woff2'),
       url('./fonts/inter-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotomedium';
  src: url('./fonts/roboto-medium.woff2') format('woff2'),
       url('./fonts/roboto-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('./fonts/roboto-regular.woff2') format('woff2'),
       url('./fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.card{
  box-shadow: 0px 3px 9px #00000012;
  border: none !important;
  background-color: #ffffff !important;
  padding: 20px;
  border-radius: 4px !important;
  margin-bottom: 15px;
}


/*=================== Common CSS :STARTS ========================== */

.btn.common-lightblue-button{
  background-color: #3A7AF2;
  border: 1px solid #3A7AF2;
  color: #ffffff;
  font-family: 'interregular';
  height: 45px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

body{
  box-sizing: border-box;
  font-family: 'interregular'
}
.Top-Navigation {
  margin-bottom: 90px;
}
section .container-fluid {
  padding: 0 80px;
}
.commonBlueBtn{
  background-color: #007BFF;
  border: 1px solid #007BFF;
  color: #ffffff;
}
.commonOutlineBtn{
  background-color: transparent;
  border: 1px solid #007BFF;
  color: #007BFF;
}
label {
  color: #525252;
  font-size: 14px;
}
p{
  font-size: 14px;
 color: #3A4550;
  /* margin-bottom: 0; */
}
a{
 color: #007BFF;
 font-size: 14px;
 text-decoration: none;
}
.mainbgColor{
  background-color: #F6FEFF;
  min-height: calc(100vh - 90px);
}
ul {
  list-style-type: none;
  /* padding-left: 0; */
}
h6{
  font-size: 16px;
}
.form-control{
  height: 40px;
  border: 1px solid #EBEEF3;
  font-size: 14px;
  /* font-size: 12px; */
  font-family: 'robotoregular';
  /* color: #7F92A3; */
  -webkit-appearance: auto !important;
  background-image: none !important;
}
.form-control:focus {
  background-color: #fff;
  border-color: #007BFF;
  outline: 0;
  box-shadow: unset;
}
.svg-sm {
  width: 1.4rem;
  height: 1.4rem;
}
.profile-logo {
  width: 2.4rem !important;
  height: 2.4rem !important;
}
.dropdown-menu {
  margin: 0 -80px !important;
}
.saveIcon .dropdown-menu {
  margin: 12px 0px 0px auto !important;
}
.pointer {
  cursor: pointer;
}

.table-borderless thead th {
    vertical-align: middle !important;
    border-bottom: 1px solid #E7E7E7 !important;
}
.table-borderless th, .table-borderless td {
  vertical-align: middle !important;
  border-top: 1px solid #fff !important;
}

/*=================== Common CSS :ENDS ========================== */

/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */


@media only screen and (max-width: 991.98px) {
  section .container-fluid {
    padding: 0 40px;
  }
  .dropdown-menu {
    margin: 0 !important;
  }
}

@media only screen and (min-width : 320px)
and (max-width : 576px){
  .DisNoneMob{
    display: none;
}
.disBlockMob{
    display: block;
}
.Top-Navigation {
  margin-bottom: 80px;
}
  section .container-fluid {
    padding: 0;
}
  .mobMar0{
    margin: 0 !important;
  }
  .mobPadd0{
    padding: 0 !important;
  }
  .mobPadd30{
        padding: 30px 0;
    }
    .topLine {
        align-items: flex-start;
        padding: 5px 20px;
    }
    .FilterList span.disF {
        align-items: flex-start;
    }
    .FilterList span {
        font-size: 11px;
    }
    .SearchedList {
    max-height: calc(100vh - 230px);
    padding: 10px 20px;
    }
    .FilteredOptions h6 span {
        font-size: 12px;
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
    }

    .searchFilter {
        box-shadow:unset;
        margin-bottom: 0;
    }
    .multistepModal.SearchPopup .modal-body {
        padding: 0;
    }
    .multistepModal.SearchPopup .modal-footer {
        padding: 20px;
    }
    .multistepModal.SearchPopup button.common-btn {
        height: 43px;
        border-radius: 4px;
        font-size: 14px;
        margin-right: 0;
        font-family: 'robotoregular';
    }
    /* Hide scrollbar CSS*/
.SearchedList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.SearchedList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.profile-logo {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.applyJobMobButton {
    position: fixed;
    bottom: 0px;
    z-index: 4;
    width: 100%;
    top: auto;
    left: 0px;
}
}

.invert-color  {

  filter: invert(1);

}
/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b3d5fb ;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #48a0ff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007BFF; 
}


.cssload-container {
	width: 100%;
	height: 47px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 47px;
	height: 47px;
	margin: 0 auto;
	border: 3px solid rgb(58,122,242);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}